*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit';
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    background-color: hsl(30, 54%, 90%);
    line-height: 1.5;
    margin-top: 80px;
    margin-bottom: 80px;
}

h2 {
    font-size: 2rem;
    font-family: 'Young-serif';
    margin-block-end: 1.7rem;
    margin-block-start: 1.7rem;
    color: hsl(14, 45%, 36%);
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    max-width: 750px;
    border-radius: 1.7rem;
    padding: 40px;
    margin: 0 auto;
    background-color: white;
}

.main-pic{
    width: 700px;
    border-radius: .8rem;
    margin-block-end: 30px;
}

header h1{
    font-family: 'Young-serif';
    font-size: 40px;
    margin-block-end: 20px;
    color: black;
}

.prep-time {
    padding: 30px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
}

.prep-time h3 {
    margin-block-end: 10px;
    color: hsl(332, 51%, 32%);
}

ul li{
    list-style-position: inside;
    margin-block-end: 10px;
    padding-inline-start: 1rem;
}

hr{
    border-top: 1px solid hsl(30, 18%, 87%);
}

.ingredients{
    margin-block-end: 2rem;
}

.instructions{
    margin-block-end: 2rem;
}

ol li{
    list-style-position: outside;
    margin-block-end: 10px;
    margin-inline-start: 2rem;
    padding-inline-start: 1rem;
}

li::marker{
    color: hsl(14, 45%, 36%);
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-block-start: 1rem;
}

table td{
    border-block-end: 1px solid hsl(30, 18%, 87%);
    padding: .5rem;
}

table tr:last-child td{
    border-block-end: none;
}

tr td:nth-child(2){
    color: hsl(14, 45%, 36%);
}

@media (max-width: 600px) {

    body{
        padding: 0;
        margin: 0;
    }

    .container{
        width: 100%;
        margin: 0;
        padding: 20px;
        border-radius: 0;
    }

    .main-pic{
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
        height: auto;
        border-radius: 0;
    }

    .ingredients ul li {
        list-style-position: outside;
        padding-inline-start: 1rem;
        margin-inline-start: 2rem;
    }
}